@media (min-width: 800px) {
	#navbar {
		padding: 0 6rem;
	}
}

@media (max-width: 800px) {
	#navbar {
		padding: 0 3rem;
	}
}

#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 50px;
	box-shadow: rgba(93, 100, 105, 0.3) 0px 1px 2px 0px, rgba(111, 117, 122, 0.15) 0px 1px 3px 1px;
}